<main class="mx-auto w-full py-6 sm:flex justify-center">
  <section class="grow lg:max-w-3xl w-full sm:px-4 px-1">
    <header
      class="text-amber-950 font-[900] sm:w-full w-[320px] mx-auto sm:ml-auto text-4xl sm:mb-9 mb-4"
    >
      Desserts
    </header>
    @if (isFetching()) {
    <p>Fetching recipes...</p>
    } @if (desserts()) {
    <div
      class="grid sm:gap-3 gap-1 lg:grid-cols-3 sm:w-full md:grid-cols-2 grid-cols-1 w-[320px] mx-auto"
    >
      @for (dessert of desserts(); track dessert.name) {
      <dessert-item [dessert]="dessert" />
      }
    </div>
    }
  </section>

  <app-cart (onModalOpen)="handleModalOpen()" />

  @if (isModalOpen()) {
  <app-modal
    (onModalClose)="handleModalClose()"
    (onModalSubmit)="handleModalSubmit()"
    [cart]="cartItems()"
    [total]="totalPrice()"
    [open]="isModalOpen()"
  />
  }
</main>
